@import 'vars.scss';

html, body {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.all {
  display: flex;
  flex-direction: column;
}

.header {
  height: $header-height;
  background-color: #FAB;
}

.main {
  min-height: calc(100vh - $header-height - $footer-height);
  background-color: #DDD;
}

.game {
  min-height: calc(100vh - $header-height);
  background-color: #ABD;
}

.footer {
  height: $footer-height;
  background-color: #BBB;
}

.active-link::before {
  content: "";
  width: 3px;
  height: 40px;
  position: absolute;
  top: 4px;
  display: block;
  background-color: rgba(#000000 , 0.5);
}